{% extends "base.html" %}

{% load i18n %}

{% block content %}

  <h1 class="my-4">{% trans 'Users' %}</h1>
  <div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>{% trans 'ID' %}</th>
      <th>{% trans 'Username' %}</th>
      <th>{% trans 'Full name' %}</th>
      <th>{% trans 'Created at' %}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% if users %}
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.get_full_name }}</td>
          <td>{{ user.date_joined }}</td>
          <td>
            <a href="{% url 'users_update' user.id %}">{% trans 'Update' %}</a>
            <br>
            <a href="{% url 'users_delete' user.id %}">{% trans 'Delete' %}</a>
          </td>
        </tr>
      {% endfor %}
    {% endif %}

    </tbody>
  </table>
  </div>

{% endblock %}